<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Update the post</title>
  <link rel="stylesheet" href="/static/css/form_style.css">
  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>
</head>

<body>

  <form id="edit-post" hx-patch="/v1/posts/{{.ID}}/edit" hx-trigger="submit" hx-target="this" hx-swap="outerHTML">
    <h2>Edit Post</h2>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" value="{{.Title}}">
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea id="content" name="content">{{.Content}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <button hx-get="/v1/posts/{{.ID}}" hx-swap="delete" class="btn btn-secondary">Cancel</button>
  </form>

</body>

</html>

<script>
  document.body.addEventListener('htmx:afterSwap', function (event) {
    if (event.detail.target.id === 'edit-post') {
      window.location.href = '/v1/posts/{{.ID}}';
    }
  });
</script>