<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin.css">
    <title>List & Delete</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
</head>

<body hx-boost="true">
    <ul id="contacts-list" hx-get="/v1/contacts" hx-trigger="load" hx-target="#contacts-list" hx-swap="outerHTML">
        {{ range .Contacts }}
        <div class="card-content">
            <div>
                <p>{{ .ID }} <br> {{ .FirstName.String }}-{{ .LastName.String }} <br> <strong>{{ .Email
                        }}</strong> <br>
                    {{ .Phone.String }} <br> </p>
            </div>
            <button hx-delete="/v1/contacts/{{ .ID }}" hx-push-url="true"
                hx-confirm="Are you sure you want to delete this contact?" hx-target="body">Delete
                Contact</button>
        </div>
        {{end}}
    </ul>
</body>

</html>