<form id="create-comment-form" hx-post="/v1/comments" hx-trigger="submit" hx-target="this" hx-swap="outerHTML">
    <div class="mb-3">
        <label for="postid" class="form-label">PostID</label>
        <input type="text" class="form-control" id="postid" name="postid" placeholder="Enter the PostID"
            required>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter the username"
            required>
    </div>
    <div class="mb-3">
        <label for="comment-content" class="form-label">Comment</label>
        <textarea class="form-control" id="comment-content" name="content" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit Comment</button>
</form>