<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>My Blog</title>
</head>

<body class="container">
    <header class="header">
        <h2>Welcome to my Blog</h2>
    </header>

    <main>
        <nav role="navigation">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/v1/login">Login</a>
                </li>
            </ul>
        </nav>

        <section>
            <h2>Latest Posts</h2>
            {{range .Posts}}
            <article class="card">
                <a href="/v1/posts/{{.ID}}">
                    <h2 class="card-title">{{ .Title }}</h2>
                </a>

                <div class="card-content">
                    <div>
                        <h5><strong>{{ .Username.String }}</strong> <br> <time>{{ .CreatedAt.Format "2006-01-02"
                                }}</time></h5>
                        <p>Tags: {{.Tags}}</p>
                    </div>
                </div>
            </article>
            {{end}}
        </section>

        <aside>
            <h3>About Me</h3>
            <p>Hi! I'm <strong>{{.Author.Username}}</strong>. I'm the <strong>{{.Author.Role}}</strong> of this blog.
            </p>
            <ul>
                <li>
                    <a href="[Your Github URL]" target="_blank">Github</a>
                </li>
                <li>
                    <a href="mailto:[Your Email Address]">Email</a>
                </li>
            </ul>
            <hr>
        </aside>
    </main>

    <footer class="footer">
        <h2>Footer</h2>
        <a href="#">Back to top</a>
        {{ .Metadata }}
    </footer>

</body>

</html>