<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <title>My Blog</title>
</head>

<body>
    <header class="header">
        <h2>Welcome to my Blog</h2>
    </header>

    <main class="container d-flex flex-column">
        <div class="row">
            <div class="col-md-3 pe-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/v1/posts/{{.Post.ID}}/edit">Edit the post</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 ps-3">
                <article class="card shadow-sm rounded mb-5">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="card-title">{{.Post.Title}}</h2>
                        <p class="text-muted mb-0">
                            <strong>{{.Post.Username.String}}</strong><br>
                            {{.Post.CreatedAt.Format "2006-01-02"}}
                        </p>
                    </div>
                    <div class="card-body">
                        <p>{{.Post.Content}}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="mb-0">Tags: {{.Post.Tags}}</p>
                    </div>
                </article>

                <hr>

                <div id="comments-container" class="mt-4">
                    <h2 class="mb-4">Comments</h2>
                    {{range .Comments}}
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong>{{.Username.String}}</strong> - <time>{{.CreatedAt.Format "2006-01-02"}}</time>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{.Content}}</p>
                        </div>
                    </div>
                    {{end}}
                </div>

                <button hx-get="/v1/comments/new" hx-swap="outerHTML" class="btn btn-sm btn-primary ms-2">Create New
                    Comment</button>

                <hr>
            </div>

            <div class="col-md-3 pl-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h4>About the Author</h4>
                    </div>
                    <div class="card-body">
                        <p>Write a short bio about yourself here.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <h5>Footer</h5>
    </footer>
</body>


</html>