<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@sudodevnull/datastar"></script>
    <title>My Blog</title>
</head>

<body>
    <header>
        <h2>Welcome to my Blog</h2>
    </header>

    <main>

        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/v1/posts/{{.Post.ID}}/edit">Edit the post</a>
                </li>
            </ul>

        </nav>

        <section>
            <article>
                <h2>{{.Post.Title}}</h2>
                <p>
                    <strong>{{.Post.Username.String}}</strong><br>
                    {{.Post.CreatedAt.Format "2006-01-02"}}
                </p>
                <p>{{.Post.Content}}</p>
                <p>Tags: {{.Post.Tags}}</p>
            </article>

            <button data-on-click="$$get('/v1/posts/{{.Post.ID}}/edit')">
                Edit
            </button>

            <hr>

            <div id="comments-container">
                <h2>Comments</h2>
                {{range .Comments}}
                <div class="comment">
                    <strong>{{.Username.String}}</strong> - <time>{{.CreatedAt.Format "2006-01-02"}}</time>
                    <p>{{.Content}}</p>
                </div>
                {{end}}
            </div>

            <button data-on-click="$$get('/v1/comment/new')">
                Create New Comment
            </button>

            <hr>
        </section>

        <aside>
            <div>
                <h4>About the Author</h4>
                <p>Write a short bio about yourself here.</p>
            </div>
        </aside>

    </main>

    <footer>
        <h5>Footer</h5>
    </footer>
</body>


</html>